.root {
  width: 400px;
  position: fixed;
  bottom: var(--mantine-spacing-lg);
  left: var(--mantine-spacing-lg);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  z-index: 999;
  @media (max-width: $mantine-breakpoint-sm) {
    bottom: var(--mantine-spacing-sm);
    left: var(--mantine-spacing-xs);
    width: calc(100% - (var(--mantine-spacing-xs) * 2));
  }
}

.icon {
  margin-right: var(--mantine-spacing-xs);
  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.title {
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: var(--mantine-font-size-xs);
  }
}

.message {
  font-size: var(--mantine-font-size-xs);
  font-weight: 500;
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 0.65rem;
  }
}

.button {
  margin-top: var(--mantine-spacing-xs);
  flex: 1;
}
