.container {
  width: 100%;
  max-width: 1000px;
  margin-top: calc(3rem * var(--mantine-scale));
}

.feature {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--mantine-color-primary-dark-7);
  border-radius: var(--mantine-radius-lg);
  padding: var(--mantine-spacing-xl);
  padding-top: calc(1.85rem * var(--mantine-scale));
  padding-bottom: calc(1.85rem * var(--mantine-scale));
  border: 2px solid transparent;
  transition: 0.5s all ease-in-out;
  &:hover {
    border-color: var(--mantine-color-accent-dark-3);
  }
  @media (max-width: $mantine-breakpoint-sm) {
    padding: var(--mantine-spacing-lg);
    padding-top: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-md);
  }
}

.titleWrapper {
  justify-content: center;
  align-items: center;
  gap: var(--mantine-spacing-sm);
  margin-bottom: var(--mantine-spacing-sm);
}

.titleWrapper > svg {
  @media (max-width: $mantine-breakpoint-sm) {
    width: 1.5rem;
    height: 1.5rem;
  }
  @media (max-width: 24rem) {
    display: none;
  }
}

.title {
  font-weight: var(--mantine-h3-font-weight);
  line-height: var(--mantine-h3-line-height);
  font-size: var(--mantine-h3-font-size);
  text-align: center;
  @media (max-width: $mantine-breakpoint-sm) {
    font-weight: var(--mantine-h4-font-weight);
    line-height: var(--mantine-h4-line-height);
    font-size: var(--mantine-h4-font-size);
  }
  @media (max-width: $mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-md);
  }
}

.description {
  font-size: calc(0.95rem * var(--mantine-scale));
  text-align: center;
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: var(--mantine-font-size-xs);
  }
}
