.container {
  flex-direction: column;
}

.title {
  font-weight: var(--mantine-h3-font-weight);
  line-height: var(--mantine-h3-line-height);
  font-size: var(--mantine-h3-font-size);
  text-align: center;
}

.description {
  font-weight: 500;
  text-align: center;
}

.links {
  margin-top: var(--mantine-spacing-xl);
  align-items: center;
}

.link {
  width: 15rem;
  gap: var(--mantine-spacing-xs);
  & > * {
    font-weight: 600;
  }
}
