.wrapper {
  display: flex;
  justify-content: center;
  height: 56px;
  width: auto;
  min-width: 100px;
  position: relative;
  aspect-ratio: 320 / 176;
  overflow: hidden;
  border-radius: var(--mantine-radius-md);
}

.image {
  position: relative;
  border-radius: 0.225rem;
  object-fit: contain;
  z-index: 3;
  filter: drop-shadow(0 0 100px rgba(0, 0, 0, 0.9))
    drop-shadow(0 0 100px rgba(0, 0, 0, 0.9));
}

.background {
  object-fit: cover;
  z-index: 1;
  filter: blur(5px);
}
