.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alertRoot {
  width: 500px;
  position: fixed;
  top: var(--mantine-spacing-lg);
  left: var(--mantine-spacing-lg);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  @media (max-width: $mantine-breakpoint-sm) {
    top: unset;
    bottom: var(--mantine-spacing-sm);
    left: var(--mantine-spacing-xs);
    width: calc(100% - (var(--mantine-spacing-xs) * 2));
  }
}

.alertBody {
  gap: 0.25rem;
}

.alertIcon {
  margin-right: var(--mantine-spacing-xs);
  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.alertTitle {
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: var(--mantine-font-size-xs);
  }
}

.alertMessage {
  font-size: var(--mantine-font-size-xs);
  font-weight: 500;
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 0.65rem;
  }
}

.sectionTitle {
  font-weight: var(--mantine-h2-font-weight);
  line-height: var(--mantine-h2-line-height);
  font-size: var(--mantine-h2-font-size);
  margin-bottom: var(--mantine-spacing-xs);
  text-align: center;
  @media (max-width: $mantine-breakpoint-sm) {
    font-weight: var(--mantine-h3-font-weight);
    line-height: var(--mantine-h3-line-height);
    font-size: var(--mantine-h3-font-size);
  }
}

.sectionDescription {
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
  margin-bottom: var(--mantine-spacing-sm);
  text-align: center;
}

.checkSection {
  flex-direction: column;
  align-items: center;
}

.checkButtons {
  @media (max-width: $mantine-breakpoint-sm) {
    justify-content: center;
    gap: var(--mantine-spacing-xs);
    margin-bottom: var(--mantine-spacing-sm);
  }
}

.checkSteps {
  margin-top: var(--mantine-spacing-xl);
  gap: var(--mantine-spacing-xl);
  justify-content: center;
}

.stepRoot {
  @media (max-width: $mantine-breakpoint-sm) {
    width: 20rem;
    padding: 0 var(--mantine-spacing-xl);
  }
  @media (max-width: 24rem) {
    width: 100%;
    padding: 0 var(--mantine-spacing-xs);
  }
}
