.container {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: calc(3rem * var(--mantine-scale));
  @media (max-width: $mantine-breakpoint-md) {
    margin-top: calc(1rem * var(--mantine-scale));
  }
}
