.container {
  width: 300px;
  justify-content: center;
}

.card {
  width: 100%;
  gap: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--mantine-color-primary-dark-7);
  border-radius: var(--mantine-radius-lg);
  border: 2px solid transparent;
  transition: 0.5s all ease-in-out;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  &:hover {
    border-color: var(--mantine-color-accent-dark-3);
  }
}

.title {
  font-weight: 700;
  font-size: var(--mantine-font-size-md);
  text-align: center;
}
