.card {
  height: 100px;
  width: 120px;
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--mantine-color-primary-dark-7);
  border-radius: var(--mantine-radius-lg);
  border: 2px solid transparent;
  transition: 0.5s all ease-in-out;
  &:hover {
    border-color: var(--mantine-color-accent-dark-3);
  }
}

.title {
  font-weight: var(--mantine-h4-font-weight);
  line-height: var(--mantine-h4-line-height);
  font-size: var(--mantine-h4-font-size);
  text-align: center;
}
