.input {
  background-color: var(--mantine-color-primary-7);
  border-color: var(--mantine-color-primary-6);
  &:focus,
  &:focus-within {
    border-color: var(--mantine-color-accent-8);
  }
  &::placeholder {
    color: var(--mantine-color-accent-9);
  }
}
