.container {
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0rem 1rem 0rem;
  @media (max-width: $mantine-breakpoint-sm) {
    margin: 3.5rem 0rem 1rem 0rem;
  }
  @media (max-width: $mantine-breakpoint-xs) {
    margin: 4rem 0rem 1rem 0rem;
  }
}
